$periwinkle: #c3cde6;

#sign {
  padding: 100px;
  height: 100vh;
  font: 15px/24px sans-serif;
  .sign_up {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #8cabc5;
  }
}

h3 {
  font-size: 1.5rem;
  color: #777777;
  margin: 30px;
}

.cp_iptxt {
	position: relative;
	width: 80%;
  margin: 40px 3%;
  font-size: 1.2rem;
  font: 15px/24px sans-serif;
}
.cp_iptxt input {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
}
.cp_iptxt input:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
  background-color: transparent;
  margin-left: 30px;
}
.ef ~ .focus_line {
  margin-left: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: $periwinkle;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
  margin-left: 30px;
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: $periwinkle;
}

.btn {
  line-height: 50px;
  width: 200px;
  background-color: $periwinkle;
  border-radius: 10px;
  margin: 30px;
}